@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  body {
    font-size: 16px;
  }

  html {
    scroll-behavior: smooth;
  }
  
  li {
    list-style-type: none;
  }

  .row {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  .blue {
    color: hsl(228, 39%, 23%);
  }

  /*
  
  LANDING PAGE NAV
  
  */

  .lp__nav {
    padding: 3rem 0 0 0;
  }

  .btn__get-started {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 140px;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: hsl(12, 88%, 59%);
    height: 42px;
  }
  
  .btn__get-started:hover {
    background-color: hsl(12, 87%, 70%);
  }

  .lp__nav {
    display: flex;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .nav__link {
    padding: 0 1rem;
  }

  /*
  
  LANDING PAGE 
  
  */

  #landing__page {
    padding: 5rem 0 0 0;
  }

  .title__and--visuals {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
  }

  .lp__title-text {
    font-weight: 700;
    font-size: 50px;
    padding: 0 5rem;
  }

  .lp__title-para {
    font-size: 16px;
    font-weight: 400;
    color: hsl(220, 7%, 70%);
    padding: 1.5rem 0;
  }

  .lp__illu {
    transform: translateY(-15%);
    padding: 0 5rem;
  }

  /*
  
  INFORMATION 
  
  */

  